body{
    margin: 0;
}

.container{
    max-width: fit-content;
    margin: 0 auto;
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.start-game-menu{
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        padding: 1em 2em;
        font-size: 2em;
    }
}